.container {
	max-width: 800px;
	margin: auto;
}
img {
	max-width: 100%;
}
body {
	background-color: blue;
}
.transcriber_notes {
	background: #f8f8f8 none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 40%;
	border-right: 1px solid #c4c4c4;
}
.notes-container {
	border: 1px solid #c4c4c4;
	clear: both;
	overflow: hidden;
}
.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}
.side_logo {
	display: inline-block;
	text-align: right;
	width: 60%;
	padding: 10px 10px;
}
.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
	color: #05728f;
	font-size: 21px;
	margin: auto;
}

.side_logo .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}
.side_logo .input-group-addon {
	margin: 0 0 0 -27px;
}

.notes_content h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}
.notes_content h5 span {
	font-size: 13px;
	float: right;
}
.notes_content p {
	font-size: 14px;
	color: #989898;
	margin: auto;
}
.notes_img {
	float: left;
	width: 11%;
}
.notes_content {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.notes_individual {
	overflow: hidden;
	clear: both;
}
.notes_list {
	border-bottom: 1px solid #c4c4c4;
	margin: 0;
	padding: 18px 16px 10px;
}
.notes_box {
	height: 550px;
	overflow-y: scroll;
}

.active_notes {
	background: #ebebeb;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}
.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
.received_withd_msg {
	width: 57%;
}
.web-speech {
	float: left;
	padding: 30px 15px 0 25px;
	width: 60%;
}

.sent_msg p {
	background: #05728f none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}
.sent_msg {
	float: right;
	width: 46%;
}
.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}
.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}
.app-container {
	padding: 0px 0 100px 0;

	/* margin-top: 30px; */
}
.msg_history {
	height: 516px;
	overflow-y: auto;
}
.container {
	margin-top: 30px;
}
.icon-pdf {
	background-image: url("https://lh4.googleusercontent.com/proxy/UGbxu4oYGo_fDwExYPs4LQxVBRX5aY5-O_mJNU83z3Z4OVKDMqRi5VWUjD0cDa1pRpsXbf9e65Awd9GX3BpEgC6-xNU6quuzvPOJuFLRc9prMCV6eC-K4bbn2Q");
	height: 30px;
	width: 30px;

	/* Other styles here */
}
.notes-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-invisible {
	background-color: whitesmoke;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 1px 1px;
}
